video::-webkit-media-controls-start-playback-button {
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.video-wrapper {
  position: relative;
  -radius: 5px;
  width: 100%;
  height: 100%;
  padding-bottom: 12.25%;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rotpar:hover .rot {
  transform: rotate(12deg);
  transition: all 0.9s ease-in-out;
}
.justifyparent:hover .justi1{
  transform: translateY(-310px);
  transition: all 1s ease-in-out;
}
.justifyparent:hover .justi2{
  transform: translateY(310px);
  transition: all 1s ease-in-out;
}
.justi1,.justi2{
  transition: all 1s ease-in-out;
}

.rot {
  transition: all 1s ease-in-out;
}

.mainbg {
  background-image: url('/bgcoffee.png');
}
