.curve {
    width: 800px;
    height: 400px;
    border-radius: 0 0 50% 50%;
    border-top: none;
    display: flex;
    overflow: hidden;
  }
  .curve::after {
    content: "";
    width: 1000px;
    height: 500px;
    border-radius: 0 0 50% 50%;
    border-top: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -150px;
    right: 280px;
  }
  *{
    font-family: "Cormorant Garamond", serif;
}     
.animatesp{
    animation: move 4s infinite;
}
@keyframes move {
    0%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(48px);
    }
    100%{
        transform: translateX(2px);
    }
}                        
